@import url(https://db.onlinewebfonts.com/c/fbc2833bec27d0fba9ea369cae2bbeaf?family=Pixelon);
@font-face {
    font-family: "Pixelon";
    src: url("https://db.onlinewebfonts.com/t/fbc2833bec27d0fba9ea369cae2bbeaf.eot");
    src: url("https://db.onlinewebfonts.com/t/fbc2833bec27d0fba9ea369cae2bbeaf.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/fbc2833bec27d0fba9ea369cae2bbeaf.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/fbc2833bec27d0fba9ea369cae2bbeaf.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/fbc2833bec27d0fba9ea369cae2bbeaf.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/fbc2833bec27d0fba9ea369cae2bbeaf.svg#Pixelon")format("svg");
}



body {
    background: black url('https://github.com/illavex/illavex-web/blob/main/media/background.gif?raw=true') no-repeat fixed center center;
    background-size: cover;
}

.block {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 2em;
    border: 2px dotted white;
}

.block > * {
    flex: 1;
    padding: 20px;
    border: 2px solid chartreuse;
    background-color: black;
}

.footer {
    position: fixed;
    bottom: 0;
    margin: auto;
}

p,h1,h3,h5 {
    color:chartreuse;
    font-family: "Pixelon", serif;
    text-align: center;
}
h1   {
    color: chartreuse;
}
h5   {color: #ff58b0;}
p    {
    color: chartreuse;
}
a   {
    color: #00ceff;
}
body.solid {
    max-width: 30%;
    margin: 5% auto;
    outline: 2px solid chartreuse;
    outline-offset: 40px;

}

footer {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
    display: block;
}

